// 项目提供的scss全局变量，这里定义的变量可以在当前项目下的其他文件中的style样式中使用

// layout主页中左侧菜单的宽度
$base-menu-width:260px;
// 左侧菜单的背景颜色
$base-menu-background:#001529;
// 左侧菜单栏的最小宽度
$base-menu-min-width:50px;
// 顶部导航的高度
$base-top-height:100px;
// 左侧菜单logo高度设置
$base-menu-logo-height:50px;
// 左侧菜单的logo傍边的文字的大小
$base-menu-title-fontSize:20px;